$def with ()
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Docverwaltung</title>
	<link rel="stylesheet" type="text/css" href="static/css/docverwaltung.css">
	
	<script type="application/javascript" src="static/js/docverwaltung.js"></script>
</head>
<body>

<h1>Docverwaltung</h1>
<p>Hier w&auml;re es sch&ouml;n wenn die Dokumentation angezeigt w&uuml;rde...</p>
<textarea name="message" id="message" value="" style="width: 300px; height: 200px;"></textarea>
<button type="button" onclick="send_form(this); return false;">Send</button>
<div id="response"></div>

</body>
</html>
